header {
    background-color: rgba(110, 42, 187, 0.884);
    color: whitesmoke;
    text-align: center;
    max-width: 800 px;
    margin: 0 auto;
    padding: 16px;

}

main {
    background-color: rgba(117, 27, 190, 0.856);
    color: whitesmoke;
    display: flex;
    max-width: 800 px;
    margin: 0 auto;
    padding: 16px;
}

div {
    text-align: left;
    max-width: 800 px;
    margin: 0 auto;
    padding: 16px;

}

img {

    height: 350px;
    width: 350px;
}

footer {
    background-color: rgba(138, 62, 226, 0.74);
    color: whitesmoke;
    text-align: center;
    max-width: 800 px;
    margin: 0 auto;
    border: 5px solid black;
    padding: 16px;
}

.autor {
    font-weight: bold;


}